@*@model DotnetMVCBaslangic.Models.Ogrenci*@

@model Ogrenci
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Adi ogrencisinin Detaylari</h1>
<ul>
    <li>Ogrencinin Adi</li>
    <li>@Model.Adi</li>

    <li>Ogrencinin Soyadi</li>
    <li>@Model.Soyadi</li>

    <li>Ogrenci No</li>
    <li>@Model.OgrenciNo</li>
</ul>

