
@{
    ViewData["Title"] = "Index";
}

<partial name="~/Views/Shared/_SlidePartial.cshtml" />

<div class="text-center mt-5 col-6 offset-3">
    <h2>Uygulamanın Özellikleri</h2>
    <ul class="list-group list-group-flush list-inline mt-3">
        <li class="list-group-item">Kullanıcı Giriş ve Kayıt yapılabilir</li>
        <li class="list-group-item">Kullanici bilgileri girilir.</li>
        <li class="list-group-item">Şifremi unuttum gibi aksiyonlar yapılacak.</li>
        <li class="list-group-item">Ürün Ekleme/Silme/Düzenleme/Listeleme</li>
        <li class="list-group-item">Ürünlere resim ekleme</li>
        <li class="list-group-item">Alisveris listesi olusturma/silme/duzenleme/listeleme</li>
        <li class="list-group-item">Varolan urunleri bu listeye ekleme</li>
        <li class="list-group-item">Alisveris listesini arkadasinla paylasma</li>
    </ul>
    <h3 class="mt-5">
        Ödev
    </h3>
    <ul class="list-group list-group-flush list-inline mt-3">
        <li class="list-group-item">HomeController icinde Hakkimizda(About), iletisim(Contact) sayfasi action'i ve ona bagli Viewler guzellestirilecek</li>
        <li class="list-group-item">
            BazaarListItem Index view inde isCompleted ve isCanceled durumlarına göre tablo arkaplan görünümünü değiştirelim(bootstrap kullanarak)
        </li>
        <li class="list-group-item">
            BazaarList/Index de tamamlanan ürün sayısı, iptal edilen ve toplam ürün sayısını belirtin.
            ** Ve BazaarList in tamamen tamamlanıp tamamlanmadığını da gösterin **
        </li>

        <li class="list-group-item">
            Kayit olan kullanicilar listelendi orayı duzeltip menüde link ekledik
        </li>

    </ul>
</div>

