
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "CreateRole";
}

<h1>CreateRole</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    @{
        await Html.RenderPartialAsync("RolesListPartial", ViewBag.RoleList as List<IdentityRole>);
    }
</div>
